<div class="row">
    <div class="col-sm-12 col-md-8">
    	<h2>{{ name }} ({{status}})</h2>
        <a href="/items/{{_id}}">
            <img src="{{imagePath}}" alt="{{name}}" class="itemImage">
        </a>
    	<h3>Price: ${{price}}</h3>
    </div>
</div>
