<div class="row">
    <div class="col-sm-12 col-md-8">
    	<h3>{{ name }} ({{status}})</h3>
        <a href="/account/editItem/{{_id}}">
            <img src="{{imagePath}}" alt="{{name}}" class="itemImage">
        </a>
    	<h4>Price: ${{price}}</h4>
        <a href="/items/{{_id}}" class="btn btn-primary" role="button">View Item</a>
        <a href="/account/editItem/{{_id}}" class="btn btn-link" role="button">Edit Item</a>
    </div>
</div>
