<div class="row">
    <div class="col-sm-12 col-md-8">
        <h2>{{ name }} ({{status}})</h2>
        <img src="{{imagePath}}" alt="{{name}}" class="itemImage">
        <h3>Price: ${{price}}</h3>
        <a href="/items/{{_id}}" class="btn btn-primary" role="button">View Item</a>
        <a href="/account/editItem/{{_id}}" class="btn btn-link" role="button">Edit Item</a>
    </div>
</div>
