<div class="row">
    <div class="col-sm-12 col-md-8">
    	<h3><a href="/users/username/{{username}}">{{ username }}</a></h3>
        <p><a href="/users/{{_id}}">{{ _id }}</a></p>
        <p>Password: {{password}}</p>
    </div>
</div>