<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>{{ pageTitle }}</h2>
        {{#if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
            <p>ID: {{profile._id}}</p>
        	<br>
        {{/if}}
        <input type="button" onclick="location.href='/users/{{id}}/items';" value="My Items" />
        <input type="button" onclick="location.href='/items/new/{{id}}';" value="Add an Item" />
    </div>
</div>
