<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>{{ pageTitle }} <button class="btn btn-default" onclick="location.href='/account/logout';">Log Out</button></h2>
        {{#if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
            <!--<p>Profile ID: {{profile._id}}</p>-->
        	<br>
        {{/if}}
        <button class="btn btn-default" onclick="location.href='/account/edit';">Edit My Profile</button>

        <h2>My Items</h2>
        <button class="btn btn-primary" onclick="location.href='/items/new/item';"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item</button>
        {{#if itemsArray}}
        	{{#each itemsArray}}
        		{{> item_itemAccount}}
        	{{/each}}
        {{/if}}
    </div>
</div>
