<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>{{ pageTitle }}</h2>
        {{#if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
            <p>Profile ID: {{profile._id}}</p>
        	<br>
        {{/if}}
        <input type="button" onclick="location.href='/account/edit';" value="Edit" />

        <h2>My Items   <button class="btn btn-success" onclick="location.href='/items/new/{{id}}';"/><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Item</button></h2>
        {{#if itemsArray}}
        	{{#each itemsArray}}
        		{{> item_item}}
        	{{/each}}
        {{/if}}
    </div>
</div>
