<div class="createNewItemDisplay">
    <h1>{{pageTitle}}</h1>
    <div class="row">
      <div class="col-sm-12">
        <form class="form" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Item Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{name}}" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="categories">Categories (select all that apply)</label><br/>
            <!--<input type="text" class="form-control" id="categories" name="categories" value="{{categories}}" placeholder="Categories">-->
            <label class="checkbox-inline"><input type="checkbox" value="appliances" id="categories" name="category_list[]">Appliances</label>
            <label class="checkbox-inline"><input type="checkbox" value="arts_crafts" id="categories" name="category_list[]">Arts & Crafts</label>
            <label class="checkbox-inline"><input type="checkbox" value="automotive" id="categories" name="category_list[]">Automotive</label>
            <label class="checkbox-inline"><input type="checkbox" value="books" id="categories" name="category_list[]">Books</label>
            <label class="checkbox-inline"><input type="checkbox" value="clothing" id="categories" name="category_list[]">Clothing</label>
            <label class="checkbox-inline"><input type="checkbox" value="electronics" id="categories" name="category_list[]">Electronics</label>
            <label class="checkbox-inline"><input type="checkbox" value="furniture" id="categories" name="category_list[]">Furniture</label>
            <label class="checkbox-inline"><input type="checkbox" value="home" id="categories" name="category_list[]">Home</label>
            <label class="checkbox-inline"><input type="checkbox" value="movies" id="categories" name="category_list[]">Movies</label>
            <label class="checkbox-inline"><input type="checkbox" value="music" id="categories" name="category_list[]">Music</label>
            <label class="checkbox-inline"><input type="checkbox" value="office" id="categories" name="category_list[]">Office</label>
            <label class="checkbox-inline"><input type="checkbox" value="outdoors" id="categories" name="category_list[]">Outdoors</label>
            <label class="checkbox-inline"><input type="checkbox" value="pets" id="categories" name="category_list[]">Pets</label>
            <label class="checkbox-inline"><input type="checkbox" value="shoes" id="categories" name="category_list[]">Shoes</label>
            <label class="checkbox-inline"><input type="checkbox" value="sports" id="categories" name="category_list[]">Sports</label>
            <label class="checkbox-inline"><input type="checkbox" value="tools" id="categories" name="category_list[]">Tools</label>
            <label class="checkbox-inline"><input type="checkbox" value="toys_games" id="categories" name="category_list[]">Toys & Games</label>
            <label class="checkbox-inline"><input type="checkbox" value="video_games" id="categories" name="category_list[]">Video Games</label>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{description}}" placeholder="Description">
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" accept="image/*" name="itemImage" id="photo">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" value="{{price}}" placeholder="###">
          </div>
          <div class="form-group">
            <label for="paymentMethod">Payment Method</label>
            <select name="paymentMethod" class="form-control" id="paymentMethod">
              <option value="cash">Cash</option>
              <option value="check">Check</option>
            </select>
          </div>
          <div class="form-group">
            <label for="zip">Zip Code</label>
            <input type="text" pattern="[0-9]{5}" class="form-control" id="zip" name="zip" value="{{zip}}" placeholder="#####">
          </div>
          <div class="form-group">
            <label for="minDays">Minimum Days item must be lent out</label>
            <input type="number" class="form-control" id="minDays" name="minDays" value="{{minDays}}" placeholder="0">
          </div>
          <div class="form-group">
            <label for="maxDays">Maximum Days item must be lent out</label>
            <input type="number" class="form-control" id="maxDays" name="maxDays" value="{{maxDays}}" placeholder="365">
          </div>
          {{#if error }}
          <div class="form-group">
            <div class="alert alert-danger">
              {{ error }}
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>
