<div class="registerPage">
    <h1>{{pageTitle}}</h1>
    <div class="row">
      <div class="col-sm-12">
        <form class="form" method="post" action="/account/new">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{username}}" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{password}}" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password">Password Again</label>
            <input type="password" class="form-control" id="password" name="password2" value="{{password2}}" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{firstName}}" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="{{lastName}}" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{email}}" placeholder="Email Address">
          </div>
          <div class="form-group">
            <label for="phoneNum">Phone Number</label>
            <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" required class="form-control" id="phoneNum" name="phoneNum" value="{{phoneNum}}" placeholder="###-###-####">
          </div>
          <div class="form-group">
            <label for="zipCode">5-Digit Zip Code</label>
            <input type="text" pattern="[0-9]{5}" class="form-control" id="zipCode" name="zipCode" value="{{zipCode}}" placeholder="#####">
          </div>
          {{#if error }}
          <div class="form-group">
            <div class="alert alert-danger">
              {{ error }}
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
        Already have an ihavethat account?
        <a href="/account/login">Log in here.</a>
      </div>
    </div>
</div>
