<h1>{{pageTitle}}</h1>
<br>

<div class="row">
  <div class="col-sm-12">
    <form class="form" method="post" enctype="multipart/form-data" id="rentalForm">
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" value="{{start}}">
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate" value="{{end}}">
      </div>
      <input type="hidden" id="rentalUserId" name="rentalUserId" value="{{userId}}">
      <input type="hidden" id="rentalItemId" name="rentalItemId" value="{{itemId}}">
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Confirm Rental</button>
      </div>
    </form>
    <div id="result-container" class="alert alert-success hidden"></div>
    <div id="error-container" class="alert alert-danger hidden"></div>
    <input type="button" class="btn btn-default" onclick="location.href='/items/{{itemId}}';" value="Return to Item" />
  </div>
</div>
