<div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="user-profile">
        <h1>{{ pageTitle }}</h1>
        {{#if usersArray}}
        	{{#each usersArray}}
        		{{> user_item }}
        	{{/each}}
        	<br>
        	<input type="button" onclick="location.href='/account/new';" value="New Account" />
        {{else}}
            {{#if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
        </div>
        <div class="user-items">
          <h2> {{profile.username}}'s Items </h2>
          {{/if}}
            {{#if itemsArray}}
        	{{#each itemsArray}}
        		{{> item_item}}
        	{{/each}}
            {{/if}}
        {{/if}}
      </div>
    </div>
</div>
