<div class="row">
    <div class="col-sm-12 col-md-6">
        <h2>{{ pageTitle }}</h2>
        {{#if usersArray}}
        	{{#each usersArray}}
        		{{> user_item }}
        	{{/each}}
        	<br>
        	<input type="button" onclick="location.href='/account/new';" value="New Account" />
        {{else if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
            <p>ID: {{profile._id}}</p>
        	<br>
          <input type="button" onclick="location.href='/users/username/{{profile.username}}/items';" value="View {{profile.username}}'s items" />
        	<input type="button" onclick="location.href='/users';" value="List of All Users" />
        {{else if itemsArray}}
        	{{#each itemsArray}}
        		{{> item_item}}
        	{{/each}}
        	<br>
            <input type="button" onclick="location.href='/items/new/{{id}}';" value="Add an Item" />
        	<input type="button" onclick="location.href='/users';" value="List of All Users" />
        {{/if}}
    </div>
</div>
