<div class="row">
    <div class="col-sm-12 col-md-6"> 
        <h2>{{ pageTitle }}</h2>
        {{#if usersArray}}
        	{{#each usersArray}}      
        		{{> user_item }}
        	{{/each}}
        	<br>
        	<input type="button" onclick="location.href='/newaccount';" value="New Account" />
        {{/if}}
        {{#if profile}}
        	<p>First Name: {{profile.firstName}}</p>
        	<p>Last Name: {{profile.lastName}}</p>
        	<p>Email: {{profile.email}}</p>
        	<p>Phone Number: {{profile.phone}}</p>
        	<p>Zip Code: {{profile.zip}}</p>
        	<br>
        	<input type="button" onclick="location.href='/users';" value="List of All Users" />
        {{/if}}
        {{#if itemsArray}}
        	{{#each itemsArray}}
        		{{> item_item}}
        	{{/each}}
        	<br>
        	<input type="button" onclick="location.href='/users';" value="List of All Users" />
        {{/if}}
    </div>
</div>